# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/

# Swift Package Manager
/.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
ehthumbs.db
Thumbs.db

# Other
*.swp
*.lock

xcuserdata/
*.xcuserstate
